<ion-header>
  <ion-navbar>
    <ion-title>
      Ideal Weight Calculator
    </ion-title>
  </ion-navbar>
 <!--Title Font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">

<!--Body Font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500&display=swap" rel="stylesheet">
</ion-header>

<ion-content>
  <img class="logo" src="https://cdn.jsdelivr.net/gh/EmtechG1/Ideal-Weight-Calculator@master/pages/home/download.gif" alt="">
  <h1>The Walking Cookie</h1>
  <h1>The Calculator</h1>
  <ion-card class="Card">
  <ion-card-content>
    <ion-grid>
    <ion-row id="row">
      <ion-col class="col" col-6>
        <ion-item id="input">
          <ion-label inline>Feet:</ion-label>
          <ion-input type="number" [(ngModel)]="feetHeight"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="col" col-6>
        <ion-item id="input">
          <ion-label inline>Inches:</ion-label>
          <ion-input type="number" [(ngModel)]="inchesHeight"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3 *ngIf="tooLow"><code> {{tooLow}} </code> </h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col">
        <ion-item id="select">
          <ion-label> Gender: </ion-label>
          <ion-select interface="popover" [(ngModel)]="gender">
            <ion-option class="option"value="m">Male</ion-option>
            <ion-option class="option"value="f">Female</ion-option>
          </ion-select>
      </ion-item>

    </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card-content>
</ion-card>
  
  <button id="button"ion-button (click)=calculateIWC()><i><img src="https://stackblitz.com/files/ionic-pzz43w/github/EmtechG1/Ideal-Weight-Calculator/master/pages/contact/cookie_Icon.png" alt=""></i>Submit</button>
  <ion-card *ngIf="calcNum">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-6>Miller (1983): </ion-col>
          <ion-col col-6>Kg <code>{{this.resultMiller}}</code> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Robinson (1983): </ion-col>
          <ion-col col-6>Kg <code>{{this.resultRobinson}}</code> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Devine (1974): </ion-col>
          <ion-col col-6>Kg <code>{{this.resultDevine}}</code> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Hamwi (1964): </ion-col>
          <ion-col col-6>Kg <code>{{this.resultHamwi}}</code> </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>