ion-content{
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00b6ff;
}
h1{
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  margin-top:0;
}
h1:nth-of-type(1){
  font-size: 3em;
  color: #AF6615;
}
h1:nth-of-type(2){
  font-size: 2em;
  color: rgb(14, 126, 126);
}
#button{
    background: none;
    color: #AF6615;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.3s;
    display: block;
    margin: 15px auto;
}
#button:hover{
    background: none;
    border-color: #17dcff;
    color: #AF6615;
    box-shadow: 0 0.5em 0.5em -0.4rem  #27f2ee;
    transform: translateY(-0.25em);
    cursor: pointer;
}
.card{
background: #17dcff;
}
.col #input{
background: #17dcff;
border: 1px solid #AF6615;
}
.col #input ion-label{
color: #AF6615;
border: 0;
}
#select{
  background:#17dcff;
  border: 1px solid #AF6615;
}
#select .label{
  color: #AF6615;
}
h3{
  color: #AF6615;
  text-align: center;
}
.col #header{
  color:#AF6615;
  background: #17dcff;
  margin: 0;
  border: 0;
  font-size: 2em;
}
i{
  margin-right: 4px;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width:426px){
  ion-content{
    font-size: 0.9em;
  }
    h1:nth-of-type(1){
    font-size: 2.8em;
  }
  h1:nth-of-type(2){
    font-size: 1.8em;
  }
  #button{
      font-size: 0.9em;
  }
  .col #input, #select .label, h3, #select .option{
    font-size: 1em;
  }
}
@media (min-width: 1023px){
  ion-content{
    font-size: 1.3em;
  }
  h1:nth-of-type(1){
    font-size: 3.2em;
  }
  h1:nth-of-type(2){
    font-size: 2.2em;
  }
  #button{
    font-size: 1.3em;
  }
  .col #input{
    font-size: 1.4em;
  }
  #select .label{
  font-size: 1.4em;
  }
  i img{
    width: 25px;
    height: 25px;
    margin-bottom: 0;
    margin-right: 7px;
  }
  ion-card ion-row .result{
    font-size: 1.4em;
  }
}
@media (min-width: 1439px){
  ion-content{
    font-size: 1.5em;
  }
  h1:nth-of-type(1){
    font-size: 3.4em;
  }
  h1:nth-of-type(2){
    font-size: 2.4em;
  }
  #button{
    font-size: 1.5em;
  }
  .col #input{
    font-size: 1.6em;
  }
  #select .label{
  font-size: 1.6em;
  }
  i img{
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    margin-right: 7px;
  }
  ion-card ion-row .result{
    font-size: 1.6em;
  }
}

