<ion-header>
  <ion-navbar>
    <ion-title>
      Ideal Weight Calculator
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="Card">
  <ion-card-content>
    <ion-grid>
    <ion-row id="row">
      <ion-col class="col" col-6>
        <ion-item id="input">
          <ion-label inline>Height In Feet</ion-label>
          <ion-input type="number" [(ngModel)]="feetHeight"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="col" col-6>
        <ion-item id="input">
          <ion-label inline>Height In Inches</ion-label>
          <ion-input type="number" [(ngModel)]="inchesHeight"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3 *ngIf="tooLow"><code> {{tooLow}} </code> </h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col">
        <ion-list radio-group>
          <ion-list-header id="header">
            Gender:
          </ion-list-header>
          <ion-item id="select">
            <ion-label>Male</ion-label>
            <ion-radio value="m"></ion-radio>
          </ion-item>
          <ion-item id="select">
            <ion-label>Female</ion-label>
            <ion-radio value="f"></ion-radio>
          </ion-item>
        </ion-list>
    </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card-content>
</ion-card>
  
  <button id="button"ion-button (click)="calculateIWC()"><i><img src="https://stackblitz.com/files/ionic-pzz43w/github/EmtechG1/Ideal-Weight-Calculator/master/pages/contact/cookie_Icon.png" alt=""></i>Submit</button>
  <ion-card *ngIf="calcNum">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-6>Miller (1983): </ion-col>
          <ion-col col-6>Kg <code>{{this.resultMiller}}</code> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Robinson (1983): </ion-col>
          <ion-col col-6>Kg <code>{{this.resultRobinson}}</code> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Devine (1974): </ion-col>
          <ion-col col-6>Kg <code>{{this.resultDevine}}</code> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Hamwi (1964): </ion-col>
          <ion-col col-6>Kg <code>{{this.resultHamwi}}</code> </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>