ion-content{
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00b6ff;
}
h1{
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  margin-top:0;
}
h1:nth-of-type(1){
  font-size: 3em;
  color: #AF6615;
}
h1:nth-of-type(2){
  font-size: 2em;
  color: rgb(14, 126, 126);
}
#button{
    background: none;
    color: #AF6615;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.3s;
    display: block;
    margin: 15px auto;
}
#button:hover{
    background: none;
    border-color: #17dcff;
    color: #AF6615;
    box-shadow: 0 0.5em 0.5em -0.4rem  #27f2ee;
    transform: translateY(-0.25em);
    cursor: pointer;
}
.card{
background: #17dcff;
}
.col #input{
background: #17dcff;
border: 1px solid #AF6615;
}
.col #input ion-label{
color: #AF6615;
border: 0;
}
#select{
  background:#17dcff;
  border: 1px solid #AF6615;
}
#select .label{
  color: #AF6615;
}
h3{
  color: #AF6615;
  text-align: center;
}
.col #header{
  color:#AF6615;
  background: #17dcff;
  margin: 0;
  border: 0;
  font-size: 2em;
}
i{
  margin-right: 4px;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
}


