ion-content{
  font-family: 'Mukta', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00b6ff;
}
h1{
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}
img{
  margin: 0 auto;
}